[user]
	name = yayiji
	email = hiyayiji@gmail.com

[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	lg = log -n 10 --pretty=format:'%C(cyan)%h%Creset %s %C(green)(%ar)%Creset'
	one = log -n 10 --pretty=format:'%C(cyan)%h%Creset %s %C(green)(%ar)%Creset'
