[Unit]
Description=Webhook Server for Git Auto-Pull
After=network.target

[Service]
ExecStart=/usr/bin/webhook -hooks /root/li/hooks/hooks.json -port 9000
WorkingDirectory=/root/li
Restart=always

[Install]
WantedBy=multi-user.target