[Unit]
Description=Webhook Server for Git Auto-Pull

[Service]
ExecStart=/usr/bin/webhook -hooks /root/li/hooks/hooks.json -port 9000
Restart=always

[Install]
WantedBy=multi-user.target