[Unit]
Description=YT-DLP Server for subtitles

[Service]
ExecStart=/usr/bin/node /root/proj/ytdlp/index.js
WorkingDirectory=/root/proj/ytdlp
Restart=always

[Install]
WantedBy=multi-user.target